.gridContainer {
  width: 100%;
  height: 60%;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: auto;
  overflow: hidden; /* Hide any overflowing content */
  position: relative;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Prevent scrollbars by hiding overflow */
  padding: 1rem;
}

.gridItem img {
  width: 100%;
  height: 250px; /* Limit the height of the image */
  object-fit: contain;
}

.gridItem h2 {
  margin: 0.25rem 0;
  font-size: 1rem;
}

.gridItem p {
  font-size: 0.75rem;
}

.gridButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridButton {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 2rem;
  cursor: pointer;
}

.gridButton:hover {
  color: #0056b3;
}

/* Tablet devices: widths greater than 320px and up to 1023px */
@media (min-width: 321px) and (max-width: 1023px) {
  .gridContainer {
    padding: 0 1rem;
    grid-template-columns: 1fr 8fr 1fr;
  }
  .gridItem img {
    height: 200px;
  }
  .gridItem h2 {
    font-size: 1rem;
  }
  .gridItem p {
    font-size: 0.75rem;
  }
  .gridButton {
    font-size: 2.25rem;
  }
}

/* Laptop devices: widths 1024px and above */
@media (min-width: 1024px) {
  .gridContainer {
    width: 60%;
    padding: 0 2rem;
    grid-template-columns: 1fr 8fr 1fr;
  }
  .gridItem img {
    height: 200px;
  }

  .gridItem h2 {
    font-size: 1.5rem;
  }
  .gridItem p {
    font-size: 1rem;
  }
  .gridButton {
    font-size: 3rem;
  }
}
